* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.main {
  margin: 0 2rem;
}

.slider__button {
  width: 0;
  height: 0;
}

.slider__wrapper {
  width: 100%;
  max-width: 44rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-x: hidden;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1rem black;
  padding: 1rem;
}

.slider__list-wrapper {
  width: 100%;
  height: 442px;
  overflow: hidden;
}

.slider__list {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s;
}

.slider__item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex: 0 0 100%;
}

.slider__item-1 {
  background-image: url('./assets/meme-1.webp');
}

.slider__item-2 {
  background-image: url('./assets/meme-2.webp');
}

.slider__item-3 {
  background-image: url('./assets/meme-3.webp');
}

.slider__item-4 {
  background-image: url('./assets/meme-4.gif');
}

.descriptions {
  display: flex;
  gap: 1rem;
}

.slider__descriptions {
  flex-basis: 75%;
}

.slider__controls {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  flex-basis: 25%;
}

.slider__control-area {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
}

.slider__control {
  width: 0.75rem;
  height: 0.75rem;
  border: 0.1rem solid green;
  border-radius: 50%;
}

.slider__control-area:hover{
  background-color: aqua;
}

.slider__control-area:hover > .slider__control {
  border-color: grey;
}

#slider-button-1:checked ~ .slider__wrapper > .descriptions > .slider__controls > .slider__control-area:nth-child(1) > .slider__control {
  background-color: aqua;
}

#slider-button-2:checked ~ .slider__wrapper > .descriptions > .slider__controls > .slider__control-area:nth-child(2) > .slider__control {
  background-color: aqua;
}

#slider-button-3:checked ~ .slider__wrapper > .descriptions > .slider__controls > .slider__control-area:nth-child(3) > .slider__control {
  background-color: aqua;
}

#slider-button-4:checked ~ .slider__wrapper > .descriptions > .slider__controls > .slider__control-area:nth-child(4) > .slider__control {
  background-color: aqua;
}

#slider-button-1:checked ~ .slider__wrapper > .slider__list-wrapper > .slider__list {
  transform: translateX(0%);
}

#slider-button-2:checked ~ .slider__wrapper > .slider__list-wrapper > .slider__list {
  transform: translateX(-100%);
}

#slider-button-3:checked ~ .slider__wrapper > .slider__list-wrapper > .slider__list {
  transform: translateX(-200%);
}

#slider-button-4:checked ~ .slider__wrapper > .slider__list-wrapper > .slider__list {
  transform: translateX(-300%);
}